<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.mobx_task">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    FRONT CAMERA-->
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyAuKr8SQ2YiI0bkKjgbH27SbKdRENpOETw"/>
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <!-- Branch URI scheme -->
        <intent-filter>
            <data android:scheme="fb470732783617358" android:host="open" />
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
        </intent-filter>
      </activity>
        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_mlSQA4rzCln123XupD9dXehhDrljheM5" />
        <!-- Branch testing (TestMode "true" to simulate fresh installs on dev environment) -->
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
<!--      &lt;!&ndash; Branch install referrer tracking &ndash;&gt;-->
<!--      <receiver android:name="io.branch.referral.InstallListener" android:exported="true">-->
<!--          <intent-filter>-->
<!--            <action android:name="com.android.vending.INSTALL_REFERRER" />-->
<!--          </intent-filter>-->
<!--      </receiver>-->
    </application>

</manifest>
